.header {
    padding: 10px 30px;
}

.header > ul {
    display: flex;
    justify-content: space-between;
}

.header > ul > li {
    cursor: pointer;
}
.navRight { 
    display: flex;
    gap: 30px;
    font-weight: bold;
}